<!doctype html>
<html>
    <head>
        <title>Google Auth</title>
    </head>
    <body>
        <div class="container">
            <h1>Google Auth</h1>
            <a href="/auth/google">Login/Register</a>
        </div>
    </body>
</html> 